body {
    background-color: #e9ebed;
}
.margin-cat{
    margin-top: 30px;
}
.nav-fix{
    position: fixed;
    top: 0;
    width: 100%;
}
.container-forum{
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
}
.forum-categoria{
    background-color: #007bff;
    padding: 10px;
}
.forum-background{
    background-color: white;
}
.btn-topico{
    margin-bottom: 10px;
    float: right;
}
.btn-cdt{
    margin-right: 5px;
}
tbody{
    background-color: white;
}
table a{
    color: black;
}
td{
    padding: 20px;
}
footer{
    color: white;
}
.img{
    height: 60vh;
    text-align: center;
    background-size: cover;
    color: white;
    background-image: url(../img/header-bg.jpg)
}
input{
    margin-bottom: 10px;
}
.avatarforum{
    width: 30%
}
.mg-avatar{
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(180, 174, 174);
    padding: 10px;
}
.mg-avatar1{
    margin-bottom: 10px;
    padding: 10px;
}
#div-avatar{
    margin-bottom: 10px;
    padding: 10px;
}
.nav-avatar{
    float: right;
    width: 10%;
    margin-right: -70px;
    
}
.mg-status{
    margin-bottom: -2px; 
}
